<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!--服务器IP-->
    <add key="IP" value="192.168.8.8"/>
    <!--服务器端口号-->
    <add key="PORT" value="10000"/>
    <!--升级程序当前版本号-->
    <add key="VersionNumber" value="1.0" />
    <!--升级程序服务器类型名称-->
    <add key="ProgramInfo" value="血常规"/>
    <!--需要的升级程序的放置位置-->
    <!--注意..默认升级程序全部放置在该目录中-->
    <add key="OpenProgramUrl" value="F:\张熙贤\甘孜阿坝项目\尿机程序\U500\bin\Debug\"/>
    <!--程序名称  注意-配上上面的目录,一定是一个可运行的路径地址-->
    <add key="ProgramName" value="U500.exe"/>
  </appSettings>
  
</configuration>